.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#p{background:#E6DEC1 url('../images/back2.jpg') no-repeat center center;}
#bb{background: #E6DEC1  url('../images/plan2.png') repeat center center ; }

/* Everything but the jumbotron gets side spacing for mobile first views */

.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  
  
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  
  color: #04B431;
}

.submit{
	  font-size: 14px;
  padding: 12px 18px;
  align: right;
  background-color: #04B431;
	color :#FFFFFF;
	border: 0.01px solid white;
	align: left ;
	margin-left:20px;
}

  .sub{
  
   font-size: 14px;
  	background-color: #E6DEC1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
   	margin-left: auto;
   	margin-right: auto;
   	margin-top: 20px;
   	margin-bottom: 20px;
   	align: center;
   	width: 100%;
   	 border: 1px solid lightgrey;
  }
  .subsub1{
  
  	background-color:#FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    
   	margin-left: auto;
   
   
   	align: center;
   	width: 60%;
   	 border: 1px solid lightgrey;
  }


  .subsub{
  
  	background-color:#FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    
   	margin-left: auto;
   	margin-right: auto;
   
   	align: center;
   	width: 100%;
   	 border: 1px solid lightgrey;
  }


	.img2{width:50%;}
	.img3{width:100%;}
  	
  .row{
  	background-color: #04B431;
    padding-top: 20px;
    padding-bottom: 20px;
   	margin-left: auto;
   	margin-right: auto;
   	align: center;
   	width: 100%;
   	 border: 1px solid lightgrey;
   	 color:#FFFFFF
  }
  .row2{
  	background-color:  #58ACFA; 
    padding-top: 20px;
    padding-bottom: 20px;
   	margin-left: auto;
   	margin-right: auto;
   	align: center;
   	width: 100%;
   	 border: 1px solid lightgrey;
  }
 
  .img{
  	 border: 0.5px solid lightgrey;
  	 width:90%;
  	 align:right
  	}
  	
  	.r1{
  		 padding-left: 10;
    	padding-right: 10;
  		 width:100%;
  		  align:left
  	}

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.navbar-default {
  background-color: #6F6B5C;
  border-color: #04B431;
}
.navbar-default .navbar-brand {
  color: #0080ff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-text {
  color: #0080ff;
}
.navbar-default .navbar-nav > li > a {
  color: #0080ff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #04B431;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #04B431;
}
.navbar-default .navbar-toggle {
  border-color: #04B431;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #04B431;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0080ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #0080ff;
}
.navbar-default .navbar-link {
  color: #0080ff;
}
.navbar-default .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0080ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #04B431;
  }
}

.divs{
	color:#FFFFFF;
	background-color: #20D29F;
	margin-top : 20px;
  	margin-bottom : 20px;
	width :100%;
	 margin-left: auto;
   	margin-right: auto;
   	align: center;
   	border: 1px solid lightgrey;
}
.imgs { 
   position: relative; 
   width: 100%; /* for IE 6 */
   margin-left: auto;
   margin-right: auto;
   align: center;
 
}


.h2s { 
   position: absolute; 
   top: 0px; 
   left: 0; 
   width: 100%; 
    color: white; 
   font: bold 24px/32px Helvetica, Sans-Serif; 
    padding:0 5px;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}


