 
 <div class="sub"  >
 <h4> A propos</h4>
  <p >Créé dn 1990, DILEX a oeuvré dans le domaine des équipement didactiques et de 
  laboratoire pour le compte des institutions d'enseignement, de formation et de recherche
  (Université, Centres de formation, Instituts spécialisés, Laboratoire,...).</p>
  
  <p>Depuis 2015, elle a procédé au redéploiement de ses activités dans le consulting, 
  les études techniques et économique, l'accompagnement des investisseurs 
  dans la concrétisation de leurs projets et l'appui technique aux entreprises.</p>
  
  <p> Elle dispose, à cet effet, d'équipes pluridisciplinaires constituées d'experts aux compétences
   avérées dans leurs domaines respectifs. </p>
  
  <br>
  <br>
  <div  layout="row" >
  
  	
    <div  flex >
     <h4>Coordonées</h4>
      <p> Immeuble Le Trianon </p>
      <p>06, Place Murat, Miramar, Oran </p>
      <p>Tel </p>
      <p>Email </p>
    </div>
    
    <div flex  	map-lazy-load="https://maps.google.com/maps/api/js"
       			 map-lazy-load-params="{{map}}">
 			 <ng-map center="35.7037555,-0.6346406" zoom="17"></ng-map>
	</div>
  </div>


</div>
  
  
  