<div>
	
        <div  id="p" >
             
    			<img src="../images/rsz_1logo-01-01.png"    alt="Dilex"><br>
    			  <p align="right"><a class="btn btn-lg btn-success" ng-href="#!contact">Contacter nous!<span class="glyphicon glyphicon-ok"></span></a></p>	
			
           		
        </div>
        
        
        
           <div class="row" id="services" layout="row" >
           
  			<div flex   >
  				
  				<h4 >Vous avez une idée, un projet d'investissement?</h4>
  				<h4>Vous souhaitez ameliorer les performance de votre entreprise?</h4>
  				<h3>Dilex Consulting répond à vos besoins </h3>
    		</div>
  			<div flex align="center" >
  			
  					<img class="img" src="../images/abstract/1.jpg"    alt="Dilex"><br>
    	
  			</div>
			</div>
			
           
    		 
    		<div class="row" layout="row">
  			<div flex   align="center">
  					<img  class="img" src="../images/abstract/2.jpg"    alt="Dilex"><br>
    		
    		</div>
  			<div flex >
  			
  					
  					<h3>Dilex consulting vous aide à </h3>
    				<li> Evaluer la faisabilité de votre projet</li>
    				<li>Effectuer les démarches administratives </li>
    				<li>Elaborer les dossiers de financement</li> 
    				<li>Suivre la réalisation du projet</li>
  			</div>
			</div>
 			
 		    <div class="row" layout="row">
  			<div flex  >
  						<h3>Dilex consulting  accompagne les porteurs de projets dans toutes les étapes</h3>
    				<li>Assistance dans le montage des dossiers administratifs</li>
    				<li>Accompagnement dans les recherchent de financements</li> 
    				<li>Aide a la transmission et transposition de savoir faire </li>
    				<li>Choix des sous-traitants et fournisseurs </li>
    				<li> Elaboration dossiers CNAC/ ANDI / ANSEJ / PROMOTION IMMOBILIERE/ TOURISME </li>
 
    		</div>
  			<div flex  align="center">
  			
  					<img class="img"  src="../images/abstract/3.jpg"    alt="Dilex"><br>
    	
  			</div>
			</div>
 		
 		
 			 <div class="row" layout="row">
  			<div flex  align="center" >
  					<img  class="img"  src="../images/abstract/4.jpg"    alt="Dilex"><br>
    		
    		</div>
  			<div flex  >
  			
  					<h3> Dilex Consulting  vous aide à réorganiser votre entreprise</h3>
 					<li> Mis en disposition d'une équipe pluridisciplinaire</li>
    				<li>Mis en place d'une organisation fonctionnelle et d'outils de gestion et methodes</li> 
    				<li> conformité au standard internationaux(cértification, marquage CE, R&D, etc.)</li>
    				<li>Elaborer la stratégie de l'entreprise</li>
  			</div>
			</div>
 		
 		 <div class="row" layout ="row">
  			<div flex >
  					
  					<h3>Dilex consulting intervient dans tous les domaines</h3>
  					<h4>Industrie, Tourisme, Construction, Agriculture, etc. </h4>
    				<li>Etude de marché</li>
    				<li>Sondage</li> 
    				<li>Etudes technico-economiques </li>
    				<li>Etude de faisabilité et d'ingénierie </li>
    		</div>
 			<div  flex  align="center">
 		
 		  <div  class="img" id="myslider" style="width:420px;height:260px">	

    			   <img src='../images/domain/1.jpg'>
          			<img src='../images/domain/2.jpg'>
          			 <img src='../images/domain/3.jpg'>
          			<img src='../images/domain/4.jpg'>
          			 <img src='../images/domain/5.jpg'>
    	  </div>
    	 </div>
</div>
      
    <script>
   	var imgSlider = new SimpleSlider( document.getElementById('myslider') );
   	</script>

    	  
   
  
