<div>
	
        <div  id="p" >
             
    			<img class="img2" src="../images/rsz_1logo-01-01.png" ><br>
    			  <p align="right"><a class="btn btn-lg btn-success" ng-href="#!contact">Nous contacter <span class="glyphicon glyphicon-ok"></span></a></p>	
			
           		
        </div>
        
        
        
           <div class="row" id="services" layout="row" >
           
  			<div flex class="r1"   >
  				
  				<h4 >Vous avez une idée, un projet d'investissement?</h4>
  				<h4>Vous souhaitez ameliorer les performance de votre entreprise?</h4>
  				<h3>Dilex Consulting répond à vos besoins </h3>
    		</div>
  			<div flex  >
  				
  					<img   class="img" src="../images/abstract/1.jpg"   ><br>
    			
  			</div>
		</div>
			
           
    		 
    		<div class="row" layout="row">
  			<div flex  >
  					<img  class="img" src="../images/abstract/2.jpg"   ><br>
    		
    		</div>
  			<div flex class="r1" >
  			
  					
  					<h3>Dilex consulting vous aide à </h3>
  					<ul>
    				<li> Evaluer la faisabilité de votre projet</li>
    				<li>Effectuer les démarches administratives </li>
    				<li>Elaborer les dossiers de financement</li> 
    				<li>Suivre la réalisation du projet</li>
    				</ul>
  			</div>
			</div>
 			
 		    <div class="row" layout="row">
  			<div flex class="r1" >
  						<h3>Dilex consulting  accompagne les porteurs de projets dans toutes les étapes</h3>
    				<ul>
    				<li>Assistance dans le montage des dossiers administratifs</li>
    				<li>Accompagnement dans les recherchent de financements</li> 
    				<li>Aide a la transmission et transposition de savoir faire </li>
    				<li>Choix des sous-traitants et fournisseurs </li>
    				<li> Elaboration dossiers CNAC/ ANDI / ANSEJ / PROMOTION IMMOBILIERE/ TOURISME </li>
 					</ul>
    		</div>
  			<div flex >
  			
  					<img class="img"  src="../images/abstract/3.jpg"    ><br>
    	
  			</div>
			</div>
 		
 		
 			 <div class="row" layout="row">
  			<div flex  >
  					<img  class="img"  src="../images/abstract/4.jpg"   ><br>
    		
    		</div>
  			<div flex class="r1" >
  			
  					<h3> Dilex Consulting  vous aide à réorganiser votre entreprise</h3>
  					<ul>
 					<li> Mis en disposition d'une équipe pluridisciplinaire</li>
    				<li>Mis en place d'une organisation fonctionnelle et d'outils de gestion et methodes</li> 
    				<li> conformité au standard internationaux ( cértification, marquage CE, R&D, etc.)</li>
    				<li>Elaborer la stratégie de l'entreprise</li>
    				</ul>
  			</div>
			</div>
 		

</div>
   

    	  
   
  
