

 		 <div  layout="row" class="row" >
 
 		 <div flex class="imgs"  layout="row"  >
 		  <div  class="imgs"   id="myslider" style="width:420px;height:260px">	

    			  <div > 
    			  
    			  <img class="img3"  src='../images/domain/1.jpg'>
    			  <h2 class="h2s"> dilex blablablabalabla </h2>
    			  </div>
    			  
          		  <div >	
          		  <img class="img3"  src='../images/domain/2.jpg'>
          		   <h2 class="h2s"> dilex blablablabalabla </h2>
          		  </div>
          		  
          		   <div > 
          		   <imgclass="img3" src='../images/domain/3.jpg'>
          		   <h2 class="h2s"> dilex blablablabalabla </h2>
          		  </div>
          		  
          		  <div >	
          		  <img  class="imgs"  src='../images/domain/4.jpg'> 
          		  <h2 class="h2s"> dilex blablablabalabla </h2> 
          		  </div>
          		  
          		  <div >	 
          		  <img  class="img3" src='../images/domain/5.jpg'> 
          		  <h2 class="h2s"> dilex blablablabalabla </h2>
          		  </div>
          </div>	  
   	  
    	  </div>
    	 </div>
    	 
 <script>
    var container = document.getElementById('myslider');
    
    var imgSlider = new SimpleSlider(
      container,
      {
  
  		startValue: 0,
  		visibleValue: 0,
  		endValue: 0,
        autoPlay:true,
        transitionDuration: 3,
  		transitionDelay: 2,
        transitionProperty:'left',
       
      }
    );;
  </script>